.container {
    max-width: 1300px;
    margin: auto;
    padding-right: 25px;
    padding-left: 25px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.account-page {
    padding: 50px 0;
}

.form-container {
    background: #fff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 25%);
    overflow: hidden;
}

.form-container span {
    font-weight: bold;
    padding: 74px 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}

.form-btn {
    display: inline-block;
}

.form-container form {
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
}

form input {
    width: 90%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}

form .btn {
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}

form .btn:focus {
    outline: none;
}

a.link {
    font-size: 14px;
    color: rgb(54, 53, 53);
    text-decoration: none;
}

a.link:hover {
    color: #ff523b;
}

form a {
    font-size: 12px;
}

a {
    text-decoration: none;
    font-size: 25px;
    color: black;
}

a:hover {
    color: #ff523b;
}

.btn {
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 20px 20px;
    border-radius: 5px;
    transition: background 0.5s;
}

.btn:hover {
    background: #563434;
}

.header {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
}