<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Signup Page</title>
</head>

<body>
    <div class="account-page">
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <div class="form-container">
                        <div class="form-btn">
                            <span>Signup</span>
                        </div>
                        <form action="" id="Loginform">
                            <input type="email" placeholder="Email" />
                            <input type="password" placeholder="Password" />
                            <input type="password" placeholder="Confirm Password" />
                            <button type="submit" class="btn">Signup</button>
                            <a href="{{url_for('login')}}" class="link">Already have an account? Login</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>