body {
    background-color: #9E7676;
    color: #F8C4B4;
}

.container-fluid {
    padding: 2% 15% 3%;
}

h1 {
    font-family: 'Sacramento', cursive;
    margin-bottom: 5%;
    font-size: 3.5rem;
}

img {
    width: 230px;
    margin: 4% auto 4%;
    height: 230px;
    object-fit: cover;
    border: #F8C4B4 10px solid;
    border-radius: 40%;
}

img:hover {
    border: #ffffff 10px solid;
}

@media only screen and (max-width: 767px) {
    h1 {
        font-size: 2.5rem;
    }
    img {
        width: 180px;
        height: 180px;
        border: #F8C4B4 5px solid;
    }
}